<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <div class="login-container">
        <h1>TO-DO</h1>
        <form method="POST">
            {{ form.hidden_tag() }}
            <div class="form-group">
                {{ form.username.label }}<br>
                {{ form.username(size=32, value='', autocomplete='off') }}<br>
                {{ form.username.errors }}
            </div>
            <div class="form-group">
                {{ form.password.label }}<br>
                {{ form.password(size=32, value='', autocomplete='off') }}<br>
                {{ form.password.errors }}
            </div>
            <div class="form-group">
                {{ form.submit() }}
            </div>
        </form>
        <a href="{{ url_for('register') }}">Register</a>
    </div>
</body>
</html>
